%li.list-group-item
  .d-flex.flex-row.justify-content-between
    .d-flex.flex-row
      - if website.image_url
        = image_tag website.image_url, class: "rounded", style: "width: 75px;"
      .d-flex.flex-column(class="#{'ps-4' if website.image_url}")
        -# = fa_brands "youtube", options: { class: "youtube" }, size: 1
        %h3
          = link_to website.name, website.url, target: "_blank"
    = render "buttons", subscription: subscription