%li.list-group-item
  .d-flex.flex-row.justify-content-between
    .d-flex.flex-row
      = image_tag youtube_channel.image_url, class: "rounded", style: "width: 75px;"
      .d-flex.flex-column.ps-4
        = fa_brands "youtube", options: { class: "youtube" }, size: 1
        %h3
          = link_to youtube_channel.name, youtube_channel.url, target: "_blank"
    = render "buttons", subscription: subscription