- content_for :title do
  \- Add new Subscriptions

.container
  %h3 #{link_to "Subscriptions", user_subscriptions_path} 
  %h4 Add new Subscriptions

  .mt-4
    = form_with(url: user_subscriptions_path) do |f|
      .row
        .col-12.col-lg-7
          = f.text_field :url, autofocus: true, placeholder: "e.g. http://twitter.com/twitter or @twitter", class: "form-control", value: @url
          %br
          %small
            e.g. 
            %ul
              %li http://twitter.com/twitter or @twitter
              %li https://www.youtube.com/c/OrdinarySausage
              %li https://badjokesbyjeff.tumblr.com
              %li https://discord.com/channels/904325308398833694/945298231716368394
              %li https://podcasts.apple.com/us/podcast/unspooled/id1381507437
              %li https://www.reddit.com/r/tv_bunny.json

        .col-12.col-lg-3
          %button.btn.btn-outline-primary(type="submit")
            Add

  - if @service&.failure?
    .text-danger
      = @service.errors.full_messages.join(", ")
